@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Righteous&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/344/455/615/mclaren-mp4-12c-black-cars-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
}

#iconoLogin{
    margin-top: -5%;
    margin-left: 30%;

}  

h1{
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    color: white;
}

#formPerfil {
    background-color: #585858ec;
    color: white;
    margin-top: 10%;
    margin-left: 35%;
    margin-bottom: 5%;
    padding: 5%;
    height: 50%;
    width: 30%;
}


#botones{
    display: flex;
    flex-direction: center;
}

#botones_email{
    margin: 2%;
}
#botones_ajustes{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2px;
}

#perfil_info{
    background-color: white;
    color: black;
    padding: 50px;
    margin: auto;

}   
.grid-container {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-gap: 5px;
  }

@media only screen and (max-width: 1500px ){
    #formPerfil {
        margin-top: 12%;
        margin-left: 27%;
        margin-bottom: 5%;
        padding: 5%;
        height: 85%;
        width: 45%;
        justify-content: center;
    }

    #botones{
        display: flex;
        flex-direction: center;
    }
    
    #botones_email{
        margin: 2%;
    }
    #botones_ajustes{
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 2px;
    }

    #perfil_info{
        background-color: white;
        color: black;
        padding: 20px;
        margin: auto;
    
    }
    #iconoLogin{
        margin-top: -5%;
        margin-left: 35%;
    
    }  
}