@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Righteous&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/344/455/615/mclaren-mp4-12c-black-cars-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    background-attachment: fixed;
    
}

#iconoRegistro {
    margin-left: 40%;
}

h1{
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    color: white;
}

#formRegistro {
    background-color: #585858ec;
    color: white;
    margin-top: 10%;
    margin-left: 35%;
    margin-bottom: 5%;
    padding: 5%;
    padding-top: 10%;
    padding-left: 10%;
    height: 40%;
    width: 30%;
    justify-content: center;
}



#btnRegistrarse{
    margin-top: 1%;
    margin-left: 1%;
}

#mapa{
    margin-top: -3%;
    margin-left: 0%;
}
#arrendar{
    margin-left: 5%;
    margin-top: 20%;
}
#map {
	height: 500px;
	width: 100%;
}