{% extends "core/layout.html" %}
{% load static %}

{% block title %}Ajustes de usuario{% endblock %}

{% block head %}
    <link href="{% static 'core/css/ajustes2.css'%}" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
<div  class="ratio ratio-16x9">
    
    <h1>AJUSTES</h1> 
    <form id="formRegistro" method="post">
        
        <div id="boton">
            <a class="btn btn-info" id="eliminarCuenta" href="{% url 'login' %}">Login</a>
            <a class="btn btn-info" id="eliminarCuenta" href="{% url 'crudUsuario' %}">Usuarios</a>
            <a class="btn btn-info" id="cerrar" href="{% url 'login' %}">Cerrar sesión</a>
        </div>
        
        
        
    </form>
</div>
{% endblock %}