{% extends "core/layout.html" %}
{% load static %}

{% block title %}Ajustes de usuario{% endblock %}

{% block head %}
    <link href="{% static 'core/css/ajuste.css'%}" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
<div  class="ratio ratio-16x9">
    
    <h1>AJUSTES</h1> 
    <form id="formRegistro" method="post">
        {% csrf_token %}
        <div id="boton">

            {% if request.session.email == "ADMIN@gmail.com" %}
                <a class="btn btn-info" id="eliminarCuenta" href="{% url 'crudUsuario' %}">Usuarios</a>
                <a class="btn btn-info" id="eliminarCuenta" href="{% url 'crudUbicaciones' %}">Ubicaciones</a>
            {% endif %}

            {% if "email" in request.session %}
                <a class="btn btn-info" id="cerrar" href="{% url 'cerrarSesion' %}">Cerrar sesión</a> 
            {% else %}
                <a class="btn btn-info" id="eliminarCuenta" href="{% url 'login' %}">Login</a>
            {% endif %}

            
            {% if messages %}
            {% for m in messages %}
                <div>
                    <label id="mensaje" >{{m}}</label>
                </div>
            {% endfor %}
            {% endif %}

        </div>
        
        
        
    </form>
</div>
{% endblock %}