{% extends "core/layout.html" %}
{% load static %}

{% block title %}Ajustes de usuario{% endblock %}

{% block head %}
    <link href="{% static 'core/css/registro copy 3.css'%}" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
<div  class="ratio ratio-16x9">
    
    <h1>AJUSTES</h1> 
    <form id="formRegistro" method="post">
        
        <a class="btn btn-info" id="cerrar" href="{% url 'login' %}">Cerrar cession</a>
        
        
        
    </form>
</div>
{% endblock %}