{% extends "core/layout.html" %}
{% load static %}

{% block title %}Ajustes de usuario{% endblock %}

{% block head %}
    <link href="{% static 'core/css/arriendo1.css'%}" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
<div  class="ratio ratio-16x9">
    
    <h1>ARRIENDO</h1> 
    <form id="formRegistro" method="post">
        {% csrf_token %}
        <div class="form-group" id="formNombre">
            <label for=" exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control"     id="inputNombre" name="nombre">
        </div>
        <div class="form-group" id="formCorreo">
            <label for="exampleInputEmail1">Longitud</label>
            <input type="number" class="form-control" id="inputCorreo" aria-describedby="emailHelp" name="correo">
        </div>
        <div class="form-group" id="formContraseña">
            <label for="exampleInputPassword1">Latitud</label>
            <input type="number" class="form-control" id="inputContraseña" name="password">
        </div>
        <a class="btn btn-info" id="btnRegistrarse" href="#">Buscar</a>
        {% if messages %}
        {% for m in messages %}
        <p id="mensaje" style="color: white;">{{m}}</p>
        {% endfor %}
        {% endif %}
        <a class="btn btn-info" id="btnRegistrarse" href="#">Arrendar</a> 
         
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2174.3150122290667!2d-71.21335322204507!3d-33.69433560376429!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2scl!4v1666291482908!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="mapa"></iframe>
        
        
    </form>
</div>
{% endblock %}