{% extends "core/layout.html" %}
{% load static %}

{% block title %}Ajustes de usuario{% endblock %}

{% block head %}
    <link href="{% static 'core/css/crudUsuario.css'%}" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
<div class="ratio ratio-16x9">
    <div class="tabla">
        <table class="table" style="color:white">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for i in usuario %}
                <tr>
                    <th scope="row">{{ i.nombre }}</th>
                    <td>{{ i.apellido }}</td>
                    <td>{{ i.email }}</td>
                    <td>
                        <!-- <a href="#"><button type="submit" class="btn btn-info" id="btnEliminar">Eliminar</button></a> -->
                        {% if i.nombre != "admin" %}
                        <a href="eliminarUsuario/{{ i.email }}" class="btn btn-info">Eliminar</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}