{% extends "core/layout.html" %}
{% load static %}

{% block title %}Ajustes de usuario{% endblock %}

{% block head %}
    <link href="{% static 'core/css/registro copy 2.css' %}" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
<div  class="ratio ratio-16x9">
    
    <h1>MAPA</h1> 
    <form id="formRegistro" method="post">
        {% csrf_token %}
        <img src="https://img.freepik.com/vector-gratis/dibujo-tema-vintage-mapa-mundial_52683-26577.jpg?w=1000" id="mapa"></img>

        <div id="botones">
            <a class="btn btn-info" id="arrendar" href="{% url 'arriendo'%}">Arrendar</a>
            <a class="btn btn-info" id="btnbuscar" href="#">Buscar</a>
        </div>
        
        

    </form>
</div>
{% endblock %}




