{% extends "core/layout.html" %}
{% load static %}

{% block title %}Ajustes de usuario{% endblock %}

{% block head %}
<link href="{% static 'core/css/home.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'core/js/mapa.js'%}" type="text/js">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>

{% endblock %}
{% block content %}
<div class="ratio ratio-16x9">

    <h1>MAPA</h1>
    <form id="formRegistro" method="post">
        {% csrf_token %}
        <div id="map_container"></div>
        <div id="map"></div>
        {% if "email" in request.session %}
        <div>
            <a class="btn btn-info" id="arrendar" href="{% url 'arriendo' %}">Publicar Estacionamiento</a>
        </div>
        {% else %}
        <div>
            <h2>¡Inicie sesión o registrate para arrendar!.</h2>
        </div>
        {% endif %}
        
    </form>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBSm8z4EyxJx90791A-iCmoNLQFY-7F9k&callback=initMap"
        async defer></script>

    </form>
</div>
<script src="{% static 'core/js/FuncionMapa1.js' %}"></script>
{% endblock %}