{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arriendo Mi Estacionamiento</title>
    <link href="{% static 'core/css/home.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    {% block head %}{% endblock %}
    
</head>
<body>


    {% block content %}
    {% endblock %}

    <div class="menu">
        <a href="#" >Perfil</a>
        
        <div class="btn-group">
            <button id="iniciarsesion" type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false" style="color: #ffffff; font-family: 'Secular One', sans-serif;"> <img src="iconos/user_24px.png" alt="" width="28px">
                Session                
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><button class="dropdown-item" type="button"><a href="#" >Cerrar Session</a></button>
                </li>
            </ul>
        </div>
        <a href="#" >Mapa</a>
        <a href="#" >Ajustes</a>
    </div>
<!-- <div id="abajo">
    <footer>
        <footer class="mt-auto w-100"> 
            <div id="info">
                <h3>Contacto: +56 9 0000 0000</h3>
                <h3>Correo: contacto@masterbikes.cl</h3>
                <div id="redes_sociales">
                    <h3>Redes sociales:</h3>
                    <a href=""><img src="{% static 'app/img/facebook.png' %}" alt="facebook"></a>
                    <a href=""><img src="{% static 'app/img/instagram.png' %}" alt="instagram"></a>
                    <a href=""><img src="{% static 'app/img/twitter.png' %}" alt="twitter"></a>
                </div>
                <h3>© Informanía 2022</h3>
            </div>

            <div id="logo_footer">
                <img src="{% static 'app/img/masterbike.png' %}" alt="logo">
            </div>
        </footer>
    </footer>
</div> -->

<div class="ratio ratio-16x9">
    <div>16x9</div>
    <img src="https://img.freepik.com/vector-gratis/dibujo-tema-vintage-mapa-mundial_52683-26577.jpg?w=2000" title="YouTube video" allowfullscreen></img>
</div>
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</html>