{% extends "core/layout.html" %}
{% load static %}

{% block title %}Ajustes de usuario{% endblock %}

{% block head %}
    <link href="{% static 'core/css/login.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}

<div  class="ratio ratio-16x9" >
    <h1>LOGIN</h1>
    <form method="post" id="formLogin">
        {% csrf_token %}
        <div id="iconoLogin">
            <img src="{% static 'core/img/logo.png' %}" alt="login" width="120">
        </div>
        <div class="form-group" id="formCorreo">
          <label for="exampleInputEmail1">Correo electrónico</label>
          <input name="email" type="email" class="form-control" id="inputCorreo" aria-describedby="emailHelp" placeholder="Ingrese su correo">
        </div>
        <div class="form-group" id="formContraseña">
          <label for="exampleInputPassword1">Contraseña</label>
          <input name="password" type="password" class="form-control" id="inputContraseña" placeholder="Ingrese su contraseña">
        </div>
        
        <div class="botones">
            <button type="submit" class="btn btn-info" id="btnIniciarSesion">Iniciar sesión</button>
            <a class="btn btn-info" id="btnRegistrarse" href="{% url 'registro' %}">Registrarse</a>
        </div>
        
        {% if messages %}
        {% for m in messages %}
        <label for="" style="text-align: center; color: white; font-size: x-large; text-align: center;">{{m}}</label>
        {% endfor %}
        {% endif %}
    </form>
</div>


{% endblock %}