{% extends "core/layout.html" %}
{% load static %}

{% block title %}Ajustes de usuario{% endblock %}

{% block head %}
<link href="{% static 'core/css/misArriendos2.css'%}" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
<div class="ratio ratio-16x9">
    <div class="tabla">
        <table class="table" style="color:white">
            <thead>
                <tr>
                    <th scope="col">Nombre estaciomiento</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">User</th>
                </tr>
            </thead>
            <tbody>





                {% if "email" in request.session %}
                {% for i in ubicacion %}
                <tr>
                    <th scope="row">{{ i.nombre }}</th>
                    <td>{{ i.precio }}</td>
                    <td>{{ i.fecha }}</td>
                    <td>{{ i.user }}</td>
                    <td>
                        {% if request.session.email %}
                        {% if i.disponible == True %}
                        <a class="btn" id="habilitarSi" href="{% url 'disponible' i.nombre  %}">Disponible</a>
                        {% else %}
                        <a class="btn" id="habilitarNo" href="{% url 'disponible' i.nombre  %}">No disponible</a>
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% endif %}





            </tbody>
        </table>
    </div>
</div>

{% endblock %}