{% extends "core/layout.html" %}
{% load static %}

{% block title %}Arriendo{% endblock %}

{% block head %}

<link href="{% static 'core/css/Pagos.css'%}" rel="stylesheet" type="text/css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

{% endblock %}
{% block content %}

<div class="ratio ratio-16x9" >

    <h1>Pagos</h1>
    <form id="formRegistro" method="post">
        {% csrf_token %}
        <div class="contenido">
            <form action="suscripcion/" method="post" class="credit-card-div">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row ">
                            <div class="col-md-12">
                                <label for="Numtarjeta"></label>
                                <input type="number" class="form-control" id="Numtarjeta" name="Numtarjeta"
                                    placeholder="Numero de Tarjeta" required />
                                <h4 id="mensaje"></h4>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="imagenTarjeta">
                                <img src="{% static 'core/img/tarjeta.png' %}" class="img-rounded" width="50" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <label for="MM"></label>
                                <input type="number" class="form-control" id="MM" name="MM" placeholder="MM" required />
                                <h4 id="mensaje1"></h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <label for="YY"></label>
                                <input type="number" class="form-control" id="YY" name="YY" placeholder="YY" required />
                                <h4 id="mensaje2"></h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <label for="CCV"></label>
                                <input type="number3" class="form-control" id="CCV" name="CCV" placeholder="CCV" required />
                                <h4 id="mensaje3"></h4>
                            </div>
    
                        </div>
                        <div class="row ">
                            <div class="col-md-12 pad-adjust">
                                <label for="Nombre"></label>
                                <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Nombre"
                                    required />
                                <h4 id="mensaje4"></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pad-adjust">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked class="text-muted" id="check"> Acepto los <a
                                            href="#">Terminos</a> y <a href="#">Condiciones</a>.
                                        <h4 id="mensaje5"></h4>
                                    </label>
                                    <div class="invalid-feedback">
                                        Debe aceptar los Terminos y Condiciones para registrar.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust" >
                                <!-- <button type="reset" class="btn btn-danger" href="{% url 'home' %}" value="CANCELAR" /> -->
                                <a  class="btn btn-danger" href="{% url 'home' %}" id="boton1">CANCELAR</a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust" >
                                <input type="submit" class="btn btn-warning btn-block" id="boton2" value="CONFIRMAR PAGO" />
                            </div>
                            
                        </div>
                    </div>
                </div>
    </form>
    <script src="{% static 'core/js/validacionPago.js' %}"></script>
{% endblock %}