{% extends "core/layout.html" %}
{% load static %}

{% block title %}Ajustes de usuario{% endblock %}

{% block head %}
    <link href="{% static 'core/css/perfil.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}

<div  class="ratio ratio-16x9" >
    <h1>PERFIL</h1>
    <form method="post" id="formPerfil">
        {% csrf_token %}
        <div id="iconoLogin">
            <img src="{% static 'core/img/icPerfil.png' %}" alt="login" width="120">
        </div>
    
        <div id="perfil_info">
            {% for i in usuario %}
            <h3>Nombre: {{ i.nombre }} {{ i.apellido }}</h3>
            <br>
            <p id="email" style="display: none;">{{ i.email }}</p>
            <h3 id="correo">Email: *****@gmail.com</h3>
            <div id="botones">
                <div id="botones_email">
                    <button type="button" class="btn btn-info" onclick="mostrarEmail(document.getElementById('email').textContent)">Ver Email</button>
                </div>
                <br>
                <div id="botones_ajustes">
                    <a href="{% url 'actualizarPerfil'  i.email  %}" class="btn btn-info" >Editar</a> 
                </div>
            </div>
            {% endfor %}
            
        </div>
            
            {% if messages %}
            {% for m in messages %}
            <p id="mensaje" style="color: rgb(255, 255, 255);">{{m}}</p>
            {% endfor %}
            {% endif %}

        <script>
            function mostrarEmail(email){
                document.getElementById("correo").innerHTML = "Email: "+email;
            }
        </script>

               


{% endblock %}