{% extends "core/layout.html" %}
{% load static %}

{% block title %}Ajustes de usuario{% endblock %}

{% block head %}
    <link href="{% static 'core/css/tablaPagos.css'%}" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
<div class="ratio ratio-16x9">
    <div class="tabla">
        <table class="table" id="tabla" style="color:white">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Nombre Estacionamiento</th>
                    <th scope="col">Hora de Inicio</th>
                    <th scope="col">Fecha de Pago</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for i in pago %}
                <tr>
                    <th scope="row">{{ i.id_pago }}</th>
                    <td>{{ i.user }}</td>
                    <td>{{ i.nombreEs }}</td>
                    <td>{{ i.h_inicio }}</td>
                    <td>{{ i.fecha_Pago }}</td>
                    <td>{{ i.totalPago }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-info" onclick="generarinfo()">Generar reporte de pagos</button> 

        
    </div>
</div>
<script src="{% static 'core/js/reporte.js' %}"></script>
{% endblock %}